<div style="position: relative; height: calc(100% - 30px); left:15px; right: 15px;">

  <div style="overflow-y: auto">
    <h3>Create Test Variants</h3>
    <hr />

    <div class="form-inline">
      <div class="form-group padding-left-lg" *ngFor="let variant of _create.Type.Variants; let i = index;" [attr.data-index]="i">
        <div style="display: flex;" class="padding-x-sm">
          <strong class="padding-right-sm">Variant Name:</strong>
          <div>{{variant.Name}}</div>
        </div>
        <div style="display: flex" class="padding-x-sm">
          <strong class="padding-right-sm">Cookie Value:</strong>
          <div>{{variant.CookieValue}}</div>
        </div>

        <div style="display: flex; align-items: center;">
          <strong class="padding-right-sm">Percentage of Test Users:</strong>
          <input class="form-control" maxlength="2" type="number" min="0" [(ngModel)]="variant.Percentage" (change)="UpdateTotal()" />
        </div>
      </div>
    </div>

    <div class="padding-y-md">
      <button (click)="_create.Cancel()" class="btn btn-default pull-right" style="margin-right: 5px;">Cancel</button>
      <button (click)="_create.CreateExperiment()" class="btn btn-primary pull-right" style="margin-right: 5px;" [disabled]="(_create.ExpValid == false && _create.Status == 'Enabled') || total != 100 "><i class="fa fa-plus"></i> Create Experiment</button>
    </div>

  </div>
</div>
